<h1>Two</h2>


  <md-table-container>
  <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
    <thead md-head md-on-reorder="getDesserts">
      <tr md-row>
        <th md-column md-numeric>Color</th>
        <th md-column md-numeric>Value</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="item" md-select-id="color" md-auto-select ng-repeat="item in stuff">
        <td md-cell>{{item.color}}</td>
        <td md-cell>{{item.value}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>
